/* 전체 배경과 기본 폰트 설정 */
body {
   background: #E5E5E5;
   font-family: Inter, Arial, sans-serif;
}
/* 컨테이너 스타일 */
.container {
   background-color: rgba(134, 193, 198, 1);
   padding: 20px;
   border-radius: 8px;
   width: 70%;
   margin: 20px auto;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* 폼 섹션 스타일 */
.form-section {
   display: flex;
   justify-content: space-between;
   background-color: white;
   border-radius: 8px;
   padding: 20px;
}
/* 좌우 섹션 스타일 */
.left-side, .right-side {
   width: 48%;
}
/* 라벨 스타일 */
label {
   display: block;
   margin: 10px 0 5px;
   font-weight: bold;
}
/* 입력 필드 스타일 */
input[type="text"], select, textarea {
   width: 100%;
   padding: 10px;
   margin-bottom: 20px;
   border: 1px solid #d9d9d9;
   border-radius: 8px;
   box-sizing: border-box;
}
/* 텍스트 영역 스타일 */
textarea {
   resize: none;
   height: 100px;
}

#content {
   height: 350px;
}
/* 체크박스 그룹 스타일 */
.checkbox-group {
   margin-bottom: 20px;
}

.checkbox-label {
   display: flex;
   align-items: center;
}

.checkbox-label input[type="checkbox"] {
   margin-right: 10px;
}

.checkbox-group label {
   margin-left: 0;
   font-weight: normal;
}

.checkbox-group p {
   margin-left: 24px;
   margin-top: 5px;
   font-size: 14px;
   color: #555;
}

.checkbox-group p.red {
   color: red;
}

.red {
   color: red;
}
/* 지도 스타일 */
#map {
   width: 100%;
   height: 250px;
   background-color: #f2f2f7;
   border-radius: 8px;
   margin-bottom: 20px;
   position: relative;
}

.map-box{
   width: 100%;
   height: 250px;
   background-color: #f2f2f7;
   border-radius: 8px;
   margin-bottom: 20px;
   position: relative;
}

/* 버튼 스타일 */
.map-button, .restore-button {
   width: 100px; /* 버튼 너비 조정 */
   height: 50px; /* 버튼 높이 조정 */
   background: #00AAFF;
   color: #FFFFFF;
   text-align: center;
   line-height: 15px;
   font-size: 13.3px;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   white-space: nowrap; /* 글자가 줄 바꿈 되지 않도록 설정 */
   margin-bottom: 10px;
}

.restore-button {
   background: #FF5733;
   display: none;
   margin-left: 10px;
}
/* 기타 버튼 스타일 */
.buttons {
   display: flex;
   justify-content: flex-end;
   gap: 10px;
}

button {
   padding: 10px 20px;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   font-size: 16px;
}

button[type="button"]:nth-child(1) {
   background-color: #2f2f2f;
   color: white;
}

button[type="button"]:nth-child(2) {
   background-color: #b1b1b1;
   color: #2f2f2f;
}
/* 입력 그룹 스타일 */
.input-group {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}

.input-group label {
   width: 20%;
}

.input-group input {
   width: 70%;
   margin: 0;
}

