<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

<insert id="insertUser">
	<selectKey keyProperty="userNo" resultType="int" order="BEFORE" >
    	SELECT SEQ_UNO.NEXTVAL FROM DUAL
    </selectKey>

	INSERT INTO USERS (
		USER_NO,
		EMAIL,
		PASSWORD,
		NICKNAME,
		BIRTH,
		GENDER,
		PHONE,
		ADDRESS,
		CREATE_DATE,
		ROLE,
		STATUS
	)
	VALUES (
		#{userNo},
		#{email},
		#{password},
		#{nickname},
		#{birth},
		#{gender},
		#{phone},
		#{address},
		DEFAULT,
		#{role},
		'Y'
	)
</insert>


<insert id="insertRider">
	<selectKey keyProperty="riderNo" resultType="int" order="BEFORE" >
    	SELECT SEQ_RNO.NEXTVAL FROM DUAL
    </selectKey>
    
    INSERT INTO RIDERS (
    	RIDER_NO,
    	USER_NO
    ) VALUES(
    	#{riderNo},
    	#{userNo}
    )
	
</insert>


<insert id="insertVehicle">
	INSERT INTO VEHICLES (
		RIDER_NO,
		VEHICLE
	)VALUES (
		#{riderNo},
		#{vehicle}
	)

</insert>











</mapper>