<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inquiry">

	<select id="inquiryList" resultType="Inquiry">
		SELECT *
		FROM INQUIRIES
	</select>
	
	<select id="inquiryCategoryList" resultType="InquiryCategory">
		SELECT *
		FROM INQ_CATEGORY
	</select>

	<insert id="insertInquiry" parameterType="Inquiry">
		<selectKey keyProperty="inquiryNo" resultType="int"
			order="BEFORE">
			SELECT SEQ_INO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO INQUIRIES
		(
			INQUIRY_NO,
			USER_NO,
			CATEGORY_NO,
			TITLE,
			CONTENT,
			CREATE_DATE
		)
		VALUES(
		#{inquiryNo},
		#{userNo},
		#{categoryNo},
		#{title},
		#{content},
		DEFAULT
		)
	</insert>
	
	<select id="selectInquiryNo" resultType="Inquiry">
			SELECT *
			FROM INQUIRIES
			WHERE INQUIRY_NO = #{inquiryNo}
	</select>
	
	
	
</mapper>